body{
  background-image: url("https://www.techrepublic.com/a/hub/i/r/2021/02/05/2c503225-0fb7-447f-8f34-facda0dc4472/resize/1200x/cda20270e6cc67f471f748edf15cba0f/smash-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Home{
  position: relative;
  top:20vh;
  text-align: center;
}



